
.hero-img{
    background-image: url("https://thumbs.dreamstime.com/b/summer-bbq-picnic-food-corner-border-over-rustic-wood-banner-background-assorted-grilled-meats-vegetables-fruits-salad-183772075.jpg");
    height: 20vh;
    justify-content: center;
    background-size:cover;
    color: rgb(255, 255, 255);
    font-family: 'Fredericka the Great', cursive;
    font-style: oblique;
   
   
 
  
}

.brand-logo{
    font-family: 'Montserrat', sans-serif;
    margin-left: 10px;
    
}

#nav-mobile{
 font-family: 'Montserrat', sans-serif;   
}



.flow-text{
margin-top: -5px;
font-size: 45px;

}

.about{
    color: rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 500;
 
}

#AboutUs{
    font-size: 25px;
   margin-top: 0%;
   margin-bottom: 0%;

}

.row{
    font-family: 'Montserrat', sans-serif;
  
}

#cards{
    
    background-color:#aeea8b;
 
}
