
.hero-img{
    background-image: url("https://thumbs.dreamstime.com/b/summer-bbq-picnic-food-corner-border-over-rustic-wood-banner-background-assorted-grilled-meats-vegetables-fruits-salad-183772075.jpg");
    height: 20vh;
    justify-content: center;
    background-size:cover;
    color: rgb(255, 255, 255);
    font-family: 'Fredericka the Great', cursive;
    font-style: oblique; 

  
}

.brand-logo{
    font-family: 'Montserrat', sans-serif;
    margin-left: 10px;
    
}

#nav-mobile{
 font-family: 'Montserrat', sans-serif; 

}



.flow-text{
margin-top: -3px;
font-size: 30px;

}

.about{
    color: rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
 
}

#AboutUs{
    font-size: 25px;
   margin-top: 0%;
   margin-bottom: 0%;

}

.row{
    font-family: 'Montserrat', sans-serif;
   
  
  
}

#cards{
    
    background-color:#7cb3421f ;
 
}

#searchbtn{
    margin-bottom: 3%;
    margin-top: 70%;
 
}

.col .row{
    margin-left: 0%;
}

.food{
   max-width: 70%;
    float: left;
    margin-left: 10px;
    max-height: 30%;
}

.row:after {
    background-color: #7cb3421f ;
}

.chips .input {
    margin-left: 10px;
}

#userAllergens{
    display: flex;
    text-align: left;
    flex-flow: row wrap;
    justify-content: space-around;
}

[type="checkbox"]+span:not(.lever) {

    padding-right: 35px;
}

[type="checkbox"].filled-in:checked+span:not(.lever):after {
    background-color: #ffc107;
    border: #ffc107;
}